.additional-products {
  padding-top: 5px;
}

.additional-products__title {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;

    font-size: 36px;
    line-height: 36px;
  }
}

.additional-products__list {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  padding-top: 13px;

  list-style-type: none;

  border-top: 1px solid $color-very-light-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
    padding: 26px 38px 28px;

    border: 1px solid $color-very-light-grey;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;

    border: none;
    border-top: 1px solid $color-very-light-grey;
  }
}

.additional-products__item {
  margin: 0;
  padding: 0;

  border-bottom: 1px solid $color-very-light-grey;
}

.additional-products__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;

    gap: 30px 79px;
    grid-template-columns: 3.66fr 1fr;
  }
}
