.address {
  background-color: $color-white-smoke;
}

.address__wrapper {
  display: flex;
  justify-content: space-between;
}

.address__wrapper--index {
  background-color: $color-white;
}

.address__title {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.address__text {
  display: flex;
  flex-direction: column;
  font-family: $ff-Arial;
  font-size: 14px;
  line-height: 20px;
  color: $color-charcoal;
}

.address__map-image {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .address__wrapper {
    padding: 56px 70px;
  }

  .address__street {
    padding-bottom: 19px;
  }
}

@media (min-width: $desktop-width) {
  .address {
    width: 565px;
  }

  .address__wrapper {
    padding: 56px 80px;
    background-color: $color-white;
  }
}
