.advantages {
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    padding-bottom: 46px;

    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;

    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-family: $ff-arial;
  color: $color-charcoal;

  counter-reset: program-counter;

  @media (min-width: $tablet-width) {
    display: grid;

    gap: 37px 137px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    gap: 7%;
    grid-template-columns: repeat(4, 1fr);
  }
}

.advantages__item {
  position: relative;

  min-height: 60px;
  margin-bottom: 20px;

  counter-increment: program-counter;

  &::before {
    @media (min-width: $tablet-width) {
      content: counter(program-counter);
      position: absolute;
      z-index: -1;
      top: 130px;
      left: 120px;

      font-size: 280px;
      font-family: $ff-oswald;
      color: $color-white-smoke;
    }
  }

  &--healthy::after,
  &--simply::after,
  &--tasty::after,
  &--fast::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;
    background-color: $color-apple;

    background-repeat: no-repeat;
    background-position: 50% 50%;

    @media (min-width: $tablet-width) {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  &--healthy::after {
    background-image: url("../img/advantages-leaf.svg");
  }

  &--simply::after {
    background-image: url("../img/advantages-tub.svg");
  }

  &--tasty::after {
    background-image: url("../img/advantages-eat.svg");
  }

  &--fast::after {
    background-image: url("../img/advantages-alarm.svg");
  }

  @media (min-width: $tablet-width) {
    min-height: 280px;

    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__description {
  margin: 0;
  padding: 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    width: 90%;
    padding-left: 0;
    padding-top: 150px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
