.advantages {
  padding: 20px;
}

.advantages__title {
  padding: 0;
  padding-bottom: 40px;
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.advantages__list {
  padding: 0;
  margin: 0;
  font-family: "Arial";
  color: #444444;
  list-style-type: none;
}

.advantages__item {
  padding-left: 80px;
}
