.advertising {
  position: relative;
  padding: 35px 20px;
  background-image: url("../img/advertising-cat.png");
  background-repeat: no-repeat;
}

.advertising::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: $basicgreen;
  opacity: 0.85;
}

.advertising__text {
  position: relative;
  font-family: $arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding-top: 128px;
}

.advertising__text::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center top;
}
