.basic-products__title {
  margin: 0;
  padding: 27px 0 41px;

  font-size: 36px;
  line-height: 36px;

  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-bottom: 150px;
    padding: 0;

    font-size: 60px;
    line-height: 60px;

    border: none;
  }
}

.basic-products__list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    display: grid;

    gap: 141px 60px;
    grid-template-columns: repeat(2, 324px);
  }

  @media (min-width: $desktop-width) {
    gap: 144px 80px;
    grid-template-columns: repeat(4, 245px);
  }
}

.basic-products__item {
  margin-bottom: 20px;
  padding-top: 8px;

  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $color-white-smoke;
  }
}

.basic-products__text {
  padding-bottom: 21px;

  text-align: center;
}

.basic-products__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px 33px 35px;
  }
}
