.block-product {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    margin-bottom: 26px;
    padding-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    margin: 0;
    padding: 15px 0 17px;

    column-gap: 38px;

    grid-template-columns: 276px 300px 244px;
  }
}

.block-product:last-of-type {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    border: none;
  }
}

.block-product__title {
  margin: 0;
  padding: 0;
  padding-bottom: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $color-nero;
  text-transform: uppercase;
}

.block-product__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.block-product__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-charcoal;
}

.block-product__button {
  width: 100%;
}
