.block-product {
  margin-bottom: 13px;
  padding-bottom: 19px;
}

.block-product__title {
  padding: 0;
  padding-bottom: 13px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-nero;
}

.block-product__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.block-product__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $color-charcoal;
}

@media (min-width: $tablet-width) {
  .block-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 28px;
    margin-bottom: 26px;
  }
}

@media (min-width: $desktop-width) {
  .block-product {
    display: grid;
    grid-template-columns: 276px 300px 244px;
    column-gap: 38px;
    padding: 15px 0 17px;
    margin: 0;
  }
}
