.button {
  align-items: center;
  margin: 0;
  padding: 10px 0;

  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-apple;
  border: none;

  &:hover {
    background-color: $color-limeade;
  }

  &:active {
    color: rgba($color-white, 30%);

    background-color: $color-limeade;
  }
}
