.button {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: $color-apple;
  color: $color-white;
  border: none;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
