.card-product {
  display: flex;
  flex-direction: column;
}

.card-product__wrapper {
  display: flex;
  margin: 0 auto;
  padding: 11px 18px 13px 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding: 0 37px 39px 33px;
  }
}

.card-product__block {
  padding-bottom: 10px;
}

.card-product__title {
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 18px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-nero;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 15px;
  }
}

.card-product__list {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-arial;
  text-align: center;
  color: $color-charcoal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.card-product__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 14px;
  }
}

.card-product__item:last-of-type {
  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.card-product__item--more {
  padding-top: 36px 20px 25px;
}

.card-product__title--more {
  position: relative;

  margin-top: 78px;
  padding-bottom: 8px;

  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -38px;
    right: 0;
    bottom: 0;
    left: 0;

    width: 30px;
    height: 2px;
    margin: 0 auto;

    background-color: #d3d3d3;

    @media (min-width: $tablet-width) {
      top: -79px;

      width: 60px;
      height: 2px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    margin-top: 161px;
    margin-bottom: 23px;
    padding: 0 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
  }
}

.card-product__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $color-charcoal;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 87px;
    padding: 0 70px;

    font-size: 16px;
    line-height: 18px;
    font-family: $ff-arial;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 35px;
  }
}

.card-product__image {
  display: block;
  margin-right: 28px;

  @media (min-width: $tablet-width) {
    margin: -76px auto 34px;
  }
}

.card-product__button {
  @media (min-width: $tablet-width) {
    width: 248px;
    margin: 0 39px 39px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin: 0 38px 39px 40px;
  }
}

.card-product__button--more {
  width: 100%;

  color: $color-charcoal;

  background-color: $color-white-smoke;

  &:hover {
    background-color: $color-whisper;
  }

  &:active {
    color: rgba($color-charcoal, 0.3);

    background-color: $color-whisper;
  }

  @media (min-width: $tablet-width) {
    width: 248px;
    margin: 0 37px 38px 38px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin: 0 38px 39px 40px;
  }
}

.card-product--more {
  @media (min-width: $tablet-width) {
    justify-content: flex-end;

    background-color: $color-white;
    border: 2px solid $color-white-smoke;
  }
}
