.copyright__text {
  margin: 0;
  padding: 0;
  align-self: center;
  font-family: $arial;
  font-size: 16px;
  line-height: 18px;
  color: $text-color;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.copyright__svg {
  fill: $svg-color;
}
