.form-container {
  padding: 0 20px 32px;
}


.form-container__title {
  padding: 0;
  padding-bottom: 37px;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
}

.form-container__description {
  padding: 0;
  padding-bottom: 39px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
