.form__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.form__field {
  display: flex;
  margin-bottom: 13px;
}

.form__field-input {
  padding: 13px 15px 14px;
  width: 100%;
  font-family: $ff-Oswald;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: $color-black;
  border: 1px solid $color-whisper;
  text-transform: uppercase;
}

.form__field-input::placeholder {
  color: $color-charcoal;
}

.form__block--radio {
  border: none;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__list-item {
  margin-bottom: 12px;
}

.form__list-item:last-of-type {
  padding-bottom: 0;
}

.form__title {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.form__label {
  margin-right: 13px;
  padding-top: 18px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-nero;
}

.form__button {
  margin-bottom: 21px;
}

.form__button-description {
  margin: 0;
  padding: 0;
  font-family: $ff-Arial;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.form__field-input--textarea {
  padding: 10px 12px auto 15px;
  min-height: 150px;
}

.form__field--textarea {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .form__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  .form__field-input {
    font-size: 20px;
    line-height: 30px;
  }

  .form__block--radio {
    padding: 25px 30px 0;
    border: 1px solid $color-whisper;
  }

  .form__block--checkbox .form__list {
    display: grid;
    grid-template-columns: 282px 282px;
    column-gap: 61px;
  }

  .form__checkbox-label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__block--button {
    flex-direction: row;
  }

  .form__button {
    padding: 13px 45px;
    margin: 0;
    margin-right: 61px;
    font-size: 20px;
  }

  .form__button-description {
    align-self: center;
    text-align: start;
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form__block--radio-pet {
    display: grid;
    grid-template-columns: repeat(2, 568px);
    column-gap: 80px;
  }

  .form__block--radio-pet .form__block {
    margin: 0;
  }

  .form__block--user .form__list {
    display: grid;
    grid-template-columns: repeat(2, 568px);
    column-gap: 80px;
  }

  .form__label {
    padding-top: 15px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__block--checkbox .form__list {
    display: flex;
  }

  .form__checkbox {
    padding-right: 104px;
  }

  .form__button {
    padding: 13px 188px;
    margin-right: 81px;
  }
}
