.main-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 13px;

  border-bottom: 1px solid $color-whisper;

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    width: calc(100% - 40px);
    padding: 30px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 80px);
    max-width: 1220px;
    padding: 50px 60px;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 66px;
  }
}

.main-header__logo:not(.main-header__logo--current) {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
