.main-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 20px;

  border-bottom: 1px solid $color-whisper;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 30px;

    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 93%;
    min-width: 904px;
    max-width: 1220px;
    margin: 0 auto;
    padding: 60px;
  }
}

.main-header__logo:not(.main-header__logo--current) {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
