.main-footer {
  padding-top: 40px;
  background-color: $color-white-smoke;
}

.main-footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 52px;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .copyright__link {
    display: block;
  }
}
