.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

