.page {
  height: 100%;
  margin: 0 auto;
  font-family: $ff-Oswald;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  color: $color-black;
  background-color: $color-white;
}
