.program__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.program__item {
  padding: 20px;
  margin-bottom: 20px;
  background-color: $color-white-smoke;
}

.program__title {
  position: relative;
  padding: 0 0 29px 71px;
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.program__title::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  content: "";
  background-color: $color-apple;
}

.program__description {
  padding-bottom: 38px;
  font-family: $ff-Arial;
  color: $color-charcoal;
}

.program__catalog-link {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;
}

@media (min-width: $tablet-width) {
  .program__item {
    padding: 77px 62px 53px 52px;
    margin-bottom: 30px;
  }

  .program__title {
    font-size: 36px;
    line-height: 36px;
    text-align: start;
  }

  .program__description {
    padding-right: 254px;
    font-size: 16px;
    line-height: 24px;
  }

  .program__catalog-link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .program__title {
    padding: 0;
    padding-bottom: 24px;
  }

  .program__title::after {
    top: 0;
    bottom: 0;
    left: auto;
    width: 200px;
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .program__list {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
  }

  .program__title {
    padding-left: 162px;
    padding-bottom: 73px;
  }

  .program__title::after {
    top: -30px;
    width: 100px;
    height: 100px;
  }

  .program__description {
    padding: 0;
    margin-bottom: 23px;
  }
}
