.slogan {

  text-align: center;
  color: #ffffff;
  background-image: url("../img/slogan-cat.png");
  background-repeat: no-repeat;
}

/*.slogan::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: rgba(104, 183, 56, 0.85);
}*/

.slogan__title {
  padding: 0;
  padding-bottom: 25px;
  padding-top: 27px;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.slogan__intro {
  padding: 0;
  padding-bottom: 29px;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}


