.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-bottom: 43px;

  list-style-type: none;
}

.social__item {
  padding-right: 24px;
}

.social__item:last-of-type {
  padding-right: 0;
}

.social__svg {
  fill: $color-dim-gray;

  &:hover {
    fill: $color-apple;
  }

  &:active {
    fill: rgba($color-apple, 30%);
  }
}
