@import "variables";

.social__list {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 43px;
  margin: 0;
  list-style-type: none;
}

.social__item {
  padding-right: 24px;
}

.social__item:last-of-type {
  padding-right: 0;
}

.social__svg {
  fill: $svg-color;
}
