// colors

$color-white: #ffffff;
$color-black: #000000;
$color-whiteSmoke: #f2f2f2;
$color-charcoal: #444444;
$color-apple: #68b738;
$color-dimGray: #666666;
$color-red: #f40404;
$color-nero: #222222;

// fonts

$ff-Arial: "Arial", sans-serif;
$ff-Oswald: "Oswald", "Arial", sans-serif;

// viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

