// colors

$basicgray: #f2f2f2;
$text-color: #444444;
$basicgreen: #68b738;
$svg-color: #666666;

// viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

// fonts

$arial: "Arial";
$oswald: "Oswald";
